// http://ionicframework.com/docs/v2/theming/

@import "../pages/simon-game/simontest";
@import "../components/simon-game/simon-board";

@import url('https://fonts.googleapis.com/css?family=Orbitron');
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/orbitron-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Orbitron Regular'), local('Orbitron-Regular'),
       url('../../assets/fonts/orbitron-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/orbitron-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/orbitron-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/orbitron-v8-latin-regular.ttf') format('opentype'), /* Safari, Android, iOS */
       url('../../assets/fonts/orbitron-v8-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
