<ion-grid>
  <ion-row justify-content-center>
    <ion-col class="record" col-xs-3 col-md-3 col-8 >
      <ion-card>
        <ion-card-content>
          Record : {{ record }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<div id="board">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <simon-button #boutonHautGauche (tap)="tapped($event)" (mousedown)="joueurClique(boutonHautGauche.color)" (touchstart)="joueurClique(boutonHautGauche.color)" class="top-left" [color]="colors[0].name"></simon-button>
      </ion-col>
      <ion-col>
        <simon-button #boutonHautDroite (tap)="tapped($event)" (mousedown)="joueurClique(boutonHautDroite.color)" (touchstart)="joueurClique(boutonHautDroite.color)" class="top-right" [color]="colors[1].name"></simon-button>
      </ion-col>
    </ion-row>
    <ion-row id="ligne-ecran">
      <ion-col>
        <div [class.ecran-on]="ecranAllume" [class.ecran-off]="!ecranAllume" id="ecran-simon">
          <span [hidden]="!ecranAllume">{{ texteEcran }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <simon-button #boutonBasGauche (tap)="tapped($event)" (mousedown)="joueurClique(boutonBasGauche.color)" (touchstart)="joueurClique(boutonBasGauche.color)" class="bottom-left" [color]="colors[2].name"></simon-button>
      </ion-col>
      <ion-col>
        <simon-button #boutonBasDroite (tap)="tapped($event)" (mousedown)="joueurClique(boutonBasDroite.color)" (touchstart)="joueurClique(boutonBasDroite.color)" class="bottom-right" [color]="colors[3].name"></simon-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<button class="play" [disabled]="jeuEnCours" ion-button large round color="secondary" (click)="lancerJeu()">JOUER !</button>
