simon-button {
  // button {

    height: 50px;
    width: 50px;
    // border: 3px solid red;
    display: block;
    overflow: hidden;
  // }

  button, button:disabled {
    opacity: 0.5;
    // border: 3px solid blue;
    display: block;
    width: 100%;
    height: 100%;
  }

  .allumer {
    opacity: 1 !important;
  }
}
