$largeur-terrain-portrait: 80vmin;
$hauteur-terrain-portrait: 80vmin;
$largeur-terrain-landscape: 60vmin;
$hauteur-terrain-landscape: 60vmin;
$fond-terrain: #794044;

/* orbitron-regular - latin */




simon-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  #board {
    @media all and (orientation: portrait) {
      width : $largeur-terrain-portrait;
      height: $hauteur-terrain-portrait;
    }
    @media all and (orientation: landscape) {
      width : $largeur-terrain-landscape;
      height: $hauteur-terrain-landscape;
    }
    background-color: $fond-terrain;
    border-radius: 20%;
    padding: 20px;
    margin-bottom: 2vmin;
    // border: 10px solid #fff;
    // box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
    box-shadow: 0 10px 6px -6px #777;




    ion-row {
      height: 50%;
    }
    ion-col {
      height: 100%;
    }
    ion-grid {
      height: 100%;
    }

    #ligne-ecran {
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #ecran-simon {

        @media all and (orientation: portrait) {
          width : $largeur-terrain-portrait/3;
          height: $hauteur-terrain-portrait/3;
        }
        @media all and (orientation: landscape) {
          width : $largeur-terrain-landscape/3;
          height: $hauteur-terrain-landscape/3;
        }
        z-index: 10;
        // position: relative;
        // left: 50%;
        border-radius: 50%;
        border: 10px solid $fond-terrain;
        color: red;
        font-size: 5vmin;
        font-family: 'Orbitron';

        display: flex;
        justify-content: center;
        align-items: center;

      }

      .ecran-off {
        background-color: lighten(black, 15%);
      }

      .ecran-on {
        background-color: black;
      }
    }
  }

  simon-button {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    // box-shadow: 1px 2px 2px gray;
    &.top-left {
      border-radius: 100% 5% 0 5%;
    }
    &.top-right {
      border-radius: 5% 100% 5% 0;
    }
    &.bottom-right {
      border-radius: 0 5% 100% 5%;
    }
    &.bottom-left {
      border-radius: 5% 0 5% 100%;
    }

    :active {
      padding: 6px 15px 5px 15px;
      border-top: 1px solid rgba(0,0,0,0.55);
      box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
      -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
      -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
      -webkit-animation: none;
      cursor: pointer !important;
    }
  }

  ion-card {
    text-align: center;

    margin-top: 0 !important;
    padding: 0;
    ion-card-content {
      padding: 3px;
      word-wrap: normal;
    }
  }

  .play {
    @media all and (orientation: landscape) {
      max-height: 5vh;
    }


  }


}
