page-simontest {
  .simon-page {
    background-image: linear-gradient(#f6d365 0%, #fda085 100%);
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  ion-content {
    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}
